<!DOCTYPE html>
<html>
<title>Welcome to the AutoCalendar</title>
<h1>AutoCalendar</h1>

	<body>
		<div class="wrap">
			<div id="arrowL" class="arrow"></div>
			<div id="slider">
				<div class="slide slide1">
					<div class="slideContent">
						<span class="span1">Welcome to AutoCalendar
								
								<% if !(check_logged_in) %>
									<div id = "wrapper_signup">
										<div class = "signup">
											<%= link_to("Sign up", {:controller => 'users',:action => 'new'}) %> 
										<div class = "signup_duo">
											<%= link_to("Sign up", {:controller => 'users',:action => 'new'}) %>
										</div>
										</div>
									</div>


									<div id = "wrapper_login">
										<div class = "login">
											<%= link_to("Log in", {:controller => 'sessions',	:action => 'new'}) %>
										<div class = "login_duo">
											<%= link_to("Log in", {:controller => 'sessions',	:action => 'new'}) %>
										</div>
										</div>>
									</div>


								<% else %>
				
								<% end %>
						</span>
					</div>
				</div>

				<div class="slide slide2">
					<div class="slideContent">
						<span class="span2">Let AutoCalendar Fill Your Schedule</span>
					</div>
				</div>

				<div class="slide slide3">
					<div class="slideContent">
					<div id = "wrapper_Explore">
							<div class = "Explore"><%= link_to "Coming Soon", about_path %>
							<div class = "Explore_duo"><%= link_to "Coming Soon", about_path %>
						</div>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div id="arrowR" class="arrow"></div>
		</div>
		

		<script>
			var sliderImages = document.querySelectorAll('.slide');
			var	arrowR = document.getElementById('arrowR');
			var arrowL = document.getElementById('arrowL');
			var current = 0;
			var pre;
			var after;

			function reset()
			{
				var length = sliderImages.length;
				for(let i=0;i<length; i++)
				{
					sliderImages[i].style.display = 'none';
				}
			}
			function startSlide()
			{
				reset();
				sliderImages[0].style.display = 'block'; 
			}

			function slideLeft(){
				reset();
				sliderImages[current - 1].style.display = 'block';
				current --;
			}
			function slideRight(){
				reset();
				sliderImages[current + 1].style.display = 'block';
				current ++;
			}

			arrowL.addEventListener('click',function(){
				if(current === 0){
					current = sliderImages.length;
					pre = document.getElementByClassName()
				}
				slideLeft();
			})

			arrowR.addEventListener('click',function(){
				if(current === 2){
					current = -1;
				}
				slideRight();
			})
			startSlide();

		</script>





	</body>
</html>

