<title>My Calendar</title>
<h1>Calendar</h1>
<style>
#outercalendar{
  width: 50%;
  height: 100%;
}
#map{
  width: 50%;
  height: 100%;
  float: right;
}
#eventdesc{
  width: 40%
}
</style>

<div id="map"></div>

<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 49.252612, lng: -123.122183},
      zoom: 12
    });

    google.maps.event.addListenerOnce(map, 'idle', function(){
      // do something only the first time the map is loaded
      console.log("Map ready");
      <% @events.each do |event| %>

      <% if (event.lat != nil && event.long != nil) && (event.start_time.to_date == Date.current) && (event.created_by == current_user.email) %>

        console.log(`lat:`,<%= event.lat %>, `lng:`, <%= event.long %>);
        addMarker({lat:<%= event.lat %>, lng:<%= event.long %>});
      <% end %>
      <% end %>
    });
  }

  function addMarker(coords){

    var geocoder = new google.maps.Geocoder;

    var infowindow = new google.maps.InfoWindow({
      content: `<h3>${location}</h3>`
    });

    geocoder.geocode({'location': coords}, function(results, status) {
      if (status === 'OK') {
        if (results[0]) {
          infowindow.setContent(infowindow.getContent() + `<p>${results[0].formatted_address}</p>`);
        }
      }
    });

    var marker = new google.maps.Marker({
      position: coords,
      map: map,
      label: location[0],

    });
    marker.addListener('click',function(){infowindow.open(map, marker)});
  }  
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWTEfQsPN2d_kg8ST-ReFixdVCCIJrrlI&callback=initMap" ></script>

<div id="outercalendar">
<table id='eventdesc'>
  <tr>
    <th>Name</th>
    <th>From</th> 
    <th>To</th>
  </tr>

  <% @events.each do |event| %>

  
  <% if event.start_time.to_date == Date.current %>
  <% if event.created_by == current_user.email %>

  <tr>
    <td><%= event.name %></td>
    <td><%= (event.start_time).strftime("%I:%M%p") %></td> 
    <td><%= event.end_time.strftime("%I:%M%p") %></td>
  </tr>
  <% end %>
  <% end %>
  <% end %>

</table>

<br>
<%= link_to("Add event", {:controller => 'events',:action => 'new'}) %>
<br>
<br>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <% if event.created_by == current_user.email %>
    <div>
      <%= link_to event.name, event %>
    </div>
    <% end %>
  <% end %>
<% end %>
</div>