<title>My Calendar</title>

<style>
#outercalendar{
  width: 50%;
  height: 100%;
}
#map{
  width: 50%;
  height: 100%;
  float: right;
}
#eventdesc{
  width: 40%
}
</style>

<script>
  google.maps.event.addListenerOnce(map, 'idle', function(){
    // do something only the first time the map is loaded
  <% @events.each do |event| %>

  <% if event.lat != nil && event.long != nil %>

    addMarker({lat:<%= event.lat %>, lng:<%= event.long %>});

  <% end %>
  <% end %>
});

</script>
<div id="outercalendar">
<table id='eventdesc'>
  <tr>
    <th>Name</th>
    <th>From</th> 
    <th>To</th>
  </tr>

  <% @events.each do |event| %>

  
  <% if event.start_time.to_date == Date.current %>
  <% if event.created_by == current_user.email %>

  <tr>
    <td><%= event.name %></td>
    <td><%= (event.start_time).strftime("%I:%M%p") %></td> 
    <td><%= event.end_time.strftime("%I:%M%p") %></td>
  </tr>
  <% end %>
  <% end %>
  <% end %>

</table>

<br>
<%= link_to("Add event", {:controller => 'events',:action => 'new'}) %>
<br>
<br>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <% if event.created_by == current_user.email %>
    <div>
      <%= link_to event.name, event %>
    </div>
    <% end %>
  <% end %>
<% end %>
</div>