<title>My Calendar</title>

<h1>Calendar</h1>

<style>
#map{
  height: 400px;
  width: 100%
}
</style>

<script>
  $('body').insertBefore($('h1'),$('.banner'));
  $('body').insertBefore($('.banner'),$('h1'));//Fix ordering of banner

  <% @events.each do |event| %>

  <% if event.lat != nil && event.long != nil %>

    addMarker({lat:<%= event.lat %>, lng:<%= event.long %>});

  <% end %>
  <% end %>

</script>

<table style="width:75%">
  <tr>
    <th>Name</th>
    <th>From</th> 
    <th>To</th>
  </tr>

  <% @events.each do |event| %>

  
  <% if event.start_time.to_date == Date.current %>
  <% if event.created_by == current_user.email %>

  <tr>
    <td><%= event.name %></td>
    <td><%= (event.start_time).strftime("%I:%M%p") %></td> 
    <td><%= event.end_time.strftime("%I:%M%p") %></td>
  </tr>
  <% end %>
  <% end %>
  <% end %>

</table>

<br>
<%= link_to("Add event", {:controller => 'events',:action => 'new'}) %>
<br>
<br>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <% if event.created_by == current_user.email %>
    <div>
      <%= link_to event.name, event %>
    </div>
    <% end %>
  <% end %>
<% end %>