<title><%= @event.name %></title>

<h1><%= @event.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time.to_date %>
  <%= (@event.start_time).strftime("%I:%M%p") %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time.to_date %>
  <%= (@event.end_time).strftime("%I:%M%p") %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>
<td><%= link_to 'Delete', event_path(@event),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
   <%= link_to("Edit", {:controller => 'events',:action => 'edit'}) %>


<%= link_to "Back", displayevents_path %>