<title><%= @event.name %></title>

<h1><%= @event.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<%= link_to "Back", displayevents_path %>